.z-0 {
    position: relative;
    z-index: 0 !important;
  }
  
  .z-1 {
    position: relative;
    z-index: 1 !important;
  }
  
  .z-2 {
    position: relative;
    z-index: 2 !important;
  }
  
  .z-3 {
    position: relative;
    z-index: 3 !important;
  }
  
  .z-4 {
    position: relative;
    z-index: 4 !important;
  }
  
  .z-5 {
    position: relative;
    z-index: 5 !important;
  }
  
  .z-6 {
    position: relative;
    z-index: 6 !important;
  }
  
  .z-7 {
    position: relative;
    z-index: 7 !important;
  }
  
  .z-8 {
    position: relative;
    z-index: 8 !important;
  }
  
  .z-9 {
    position: relative;
    z-index: 9 !important;
  }